<ion-view>
  <ion-content delegate-handle="search-top">
    <div class="row advanced-search-category-row">
        <h2 class="advanced-search-category-h2">Browse electronic categories</h2>
    </div>
    <ion-scroll zooming="false" direction="x" scrollbar-x="false">
    <div class="advanced-search-subcategory-main-div">
         <div class="home-subcategory-main-div">
              <a ui-sref="sportsNutritionCategory({ category:'amino-acids'})" class="home-subcategory-link">
                  <div class="card">
                  <div class="item item-divider home-subcategory-title">
                      Amino Acids
                  </div>
                  <div class="item item-text-wrap home-subcategory-img-div">
                      <img class="home-subcategory-img" src="img/sport/amino-acids.jpg" alt="Amino Acids"/>
                  </div>
              </div>
              </a>       
         </div>
         <div class="home-subcategory-main-div">
              <a ui-sref="sportsNutritionCategory({ category:'endurance-energy'})" class="home-subcategory-link">
                  <div class="card">
                  <div class="item item-divider home-subcategory-title">
                      Endurance &amp Energy
                  </div>
                  <div class="item item-text-wrap home-subcategory-img-div">
                      <img class="home-subcategory-img" src="img/sport/endurance.jpg" alt="Endurance Energy"/>
                  </div>
              </div>
              </a>       
         </div>
         <div class="home-subcategory-main-div">
              <a ui-sref="sportsNutritionCategory({ category:'protein'})" class="home-subcategory-link">
                  <div class="card">
                  <div class="item item-divider home-subcategory-title">
                      Proteins
                  </div>
                  <div class="item item-text-wrap home-subcategory-img-div">
                      <img class="home-subcategory-img" src="img/sport/proteins.jpg" alt="Proteins"/>
                  </div>
              </div>
              </a>       
         </div>
         <div class="home-subcategory-main-div">
              <a ui-sref="sportsNutritionCategory({ category:'pre-workout'})" class="home-subcategory-link">
                  <div class="card">
                  <div class="item item-divider home-subcategory-title">
                      Pre-Workout
                  </div>
                  <div class="item item-text-wrap home-subcategory-img-div">
                      <img class="home-subcategory-img" src="img/sport/pre-workout.jpg" alt="Pre-Workout"/>
                  </div>
              </div>
              </a>       
         </div>
         <div class="home-subcategory-main-div">
              <a ui-sref="sportsNutritionCategory({ category:'nutrition-bars'})" class="home-subcategory-link">
                  <div class="card">
                  <div class="item item-divider home-subcategory-title">
                      Nutrition Bars
                  </div>
                  <div class="item item-text-wrap home-subcategory-img-div">
                      <img class="home-subcategory-img" src="img/sport/bars.jpg" alt="Nutrition Bars"/>
                  </div>
              </div>
              </a>       
         </div>
         <div class="home-subcategory-main-div">
              <a ui-sref="sportsNutritionCategory({ category:'weight-gainers'})" class="home-subcategory-link">
                  <div class="card">
                  <div class="item item-divider home-subcategory-title">
                      Weight Gainers
                  </div>
                  <div class="item item-text-wrap home-subcategory-img-div">
                      <img class="home-subcategory-img" src="img/sport/weight-gainers.jpg" alt="Weight Gainers"/>
                  </div>
              </div>
              </a>       
         </div>
         <div class="home-subcategory-main-div">
              <a ui-sref="sportsNutritionCategory({ category:'post-workout-recovery'})" class="home-subcategory-link">
                  <div class="card">
                  <div class="item item-divider home-subcategory-title">
                      Post-Workout &amp Recovery
                  </div>
                  <div class="item item-text-wrap home-subcategory-img-div">
                      <img class="home-subcategory-img" src="img/sport/post-workout.jpg" alt="Post-Workout Recovery"/>
                  </div>
              </div>
              </a>       
         </div>
         <div class="home-subcategory-main-div">
              <a ui-sref="sportsNutritionCategory({ category:'fat-burners-thermogenics'})" class="home-subcategory-link">
                  <div class="card">
                  <div class="item item-divider home-subcategory-title">
                      Fat Burners &amp Thermogenics
                  </div>
                  <div class="item item-text-wrap home-subcategory-img-div">
                      <img class="home-subcategory-img" src="img/sport/fat-burner.jpg" alt="Fat Burners"/>
                  </div>
              </div>
              </a>       
         </div>  
    </div>
    </ion-scroll>
    <div class="advanced-search-num-products" ng-show="totalProducts && totalProducts > 0" ng-bind="'Found ' + totalProducts + ' products'"></div>          
    <div class="list">
        <a ui-sref="sportsNutritionProduct({id:product._id, slug:product.slug})" class="item item-thumbnail-left" ng-repeat="product in products">
          <img class="advanced-search-img" ng-src="{{ product.images[0] }}">
          <h2 class="advanced-search-title" ng-bind="product.title"></h2>
          <div class="advanced-search-price"><b ng-bind="formatPrice(product.price)"></b></div>
          <div>                          
              <div class="advanced-search-old-price" ng-bind="formatOldPrice(product.price, product.oldprice)"></div>
              <div ng-show="calculateDiscount(product.price, product.oldprice)" class="advanced-search-sale-tag" ng-bind="calculateDiscount(product.price, product.oldprice)"></div>
          </div>
          <div class="advanced-search-amazon-div"><img class="img-responsive advanced-search-amazon-img" src="img/amazon-small-logo.jpg" alt="{{ 'amazon' + $index }}" /></div>
        </a>
    </div>
    <div ng-show="noResult">
        <div class="advanced-search-no-result">No results. Try again.</div>
    </div>
    <div ng-show="loading">
      <div class="text-center advanced-search-loading-div">
          <img src="img/ajax-loader.gif" alt="loading" />
      </div>
    </div>
    <div ng-click="loadNewPage()" ng-show="!loading && !noResult && currentPage <= totalProducts / 24" class="advanced-search-next-page">
        <i class="icon ion-chevron-down advanced-search-next-page-icon"></i>
    </div>
  </ion-content>
</ion-view>
